secrets.choice 
streamlit
numpy
pandas
matplotlib
seaborn
scikit-learn
pickle
math
squarify 
datetime.datetime
matplotlib.pyplot
plotly.express
collections.Counter
import_ipynb
sklearn.metrics
sklearn.mixture.GaussianMixture
Lib